<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}/car(id = ${car.getId()})}" th:object="${car}">
  <label for="name">Название</label>
  <input type="text" id="name" th:field="*{name}">
  <label for="type">Тип</label>
  <input type="text" id="type" th:field="*{type}">
  <label for="price">Цена</label>
  <input type="text" id="price" th:field="*{price}">
  <label for="number">Номер</label>
  <input type="text" id="number" th:field="*{number}">
  <input type="submit" value="Изменить">
</form>
<form method="get" action="/main">
  <input type="submit" value="главное меню">
</form>

</body>
</html>