<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${buyer.getId()}"></p>
<p th:text="${buyer.getName()}"></p>
<p th:text="${buyer.getSurname()}"></p>
<p th:text="${buyer.getMidname()}"></p>
<p th:text="${buyer.getLogin()}"></p>
<p th:text="${buyer.getPassword()}"></p>

<a th:href="@{/{id}/editBuyer(id = ${buyer.getId()})}">Изменить</a>

<form th:method="DELETE" th:action="@{/{id}/buyer(id = ${buyer.getId()})}">
    <input type="submit" value="Удалить">
</form>
<form method="get" action="/main">
    <input type="submit" value="главное меню">
</form>
</body>
</html>