<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>New Service</h2>
    <div>
        <div>
            <form action="#" th:action="@{/addproduct}" th:object="${product}" method="post">
                <div class="row">
                    <div >
                        <label for="productprice">Productprice</label>
                        <input type="text" th:field="*{productprice}" id="productprice" placeholder="Productprice">
                        <span th:if="${#fields.hasErrors('productprice')}" th:errors="*{productprice}" ></span>
                    </div>
                    <div >
                        <label for="productname" class="col-form-label">Productname</label>
                        <input type="text" th:field="*{productname}"  id="productname" placeholder="Productname">
                        <span th:if="${#fields.hasErrors('productname')}" th:errors="*{productname}" ></span>
                    </div>
                    <div >
                        <label for="quantity" class="col-form-label">Quantity</label>
                        <input type="text" th:field="*{quantity}"  id="quantity" placeholder="Quantity">
                        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" ></span>
                    </div>
                </div>
                <div>
                    <select name="manufacturer_id">
                        <option th:each="el : ${manufacturers}" th:value="${el.getId()}" th:text="${el.getCompany_name()}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}" ></span>
                </div>
                <div>
                    <select name="carmodel_id">
                        <option th:each="el : ${carmodels}" th:value="${el.getId()}" th:text="${el.getModelname()}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('carmodel')}" th:errors="*{carmodel}" ></span>
                </div>
                <div>
                    <select name="car_brand_id">
                        <option th:each="el : ${carbrends}" th:value="${el.getId()}" th:text="${el.getBrandname()}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('carBrand')}" th:errors="*{carBrand}" ></span>
                </div>
                <div class="row">
                    <div >
                        <input type="submit"  value="Add Service">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>