<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <form action="#" th:action="@{/addcarcategory}" th:object="${carcategory}" method="post">
            <div class="row">
                <div >
                    <label for="categoryname">Categoryname</label>
                    <input type="text" th:field="*{categoryname}" id="categoryname" placeholder="Categoryname">
                    <span th:if="${#fields.hasErrors('categoryname')}" th:errors="*{categoryname}" ></span>
                </div>
            </div>
            <div class="row">
                <div >
                    <input type="submit"  value="Add carcategory">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>