<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Update Service</h2>
    <div class="row">
        <div>
            <form action="#" th:action="@{/updatecar/{id}(id=${car.getId()})}" th:object="${car}" method="post">
                <div class="row">
                    <div>
                        <label for="sorh" >Sorh</label>
                        <input type="text" th:field="*{sorh}"  id="sorh" placeholder="Sorh">
                        <span th:if="${#fields.hasErrors('sorh')}" th:errors="*{sorh}" ></span>
                    </div>
                    <div>
                        <select name="technicalpassport_id">
                            <option th:each="el : ${technicalpassports}" th:value="${el.getId()}" th:text="${el.getNumber()}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('technicalpassport')}" th:errors="*{technicalpassport}" ></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update Car">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>